name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci:
    uses: TUCCHI1/eslint-config/.github/workflows/ci.yml@main
    with:
      run-build: false
      run-test: false
